.App .background {
  position: absolute;
  opacity: 0.8;
  top: 0px;
  bottom: 0px;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App .container {
  position: relative;
  font-family: Poppins;
  font-size: 10px;
  top: 30px;
  max-width: 80%;
  color: #161853;
}

.App h1 {
  text-align: center;
  margin: 0px;
  margin-bottom: 20px;
  color: white;
}

footer {
  margin-top: 50px;
  text-align: center;
  font-style: italic;
  color: #161853;
  opacity: 0.8;
  font-size: 0.8rem;
  font-weight: bold;
}

@media (min-width: 746px) {
  .App .container {
    font-size: 14px;
  }
}

@media (max-width: 740px) {
  footer {
    font-size: 0.6rem;
  }
}
