.CurrentContent {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #dadde1;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #dadde1;
  }
  
  .CurrentContent h1 {
    color: #878787;
    font-size: 24pf;
    margin: 20px 0 0 0;
    font-weight: 100;
    line-height: 29px;
  }
  
  .CurrentContent ul {
    margin: 0;
    padding: 0;
  }
  
  .CurrentContent .row {
    padding-left: 30px;
  }
  .CurrentContent li {
    font-size: 16px;
    font-weight: 100;
    line-height: 22px;
    list-style: none;
    padding-top: 5px;
  }
  
  .CurrentContent .clearfix {
    display: flex;
  }
  .CurrentContent .tabs {
    position: relative;
  }
  
  .CurrentContent .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
  }
  
  .CurrentContent canvas {
    margin-top: 5px;
    margin-right: 10px;
    display: inline-block;
  }
  .CurrentContent .unit {
    font-size: 16px;
    color: rgb(33, 33, 33);
    font-weight: 400;
    position: relative;
    top: -32px;
    margin-left: 0;
    line-height: 1;
  }
  
  .CurrentContent span {
    padding: 2px;
  }
  
  @media (min-width: 746px) {
    .CurrentContent {
      max-width: 600px;
    }
  }
  