.Search .search_form {
    margin-top: 50px;
    width: 80%;
    margin: 0px 50px;
    margin: 0 auto;
  }
  
  .Search .search_city {
    display: block;
    text-align: left;
  }
  
  @media (min-width: 750px) {
    .Search .search_form {
      width: 600px;
    }
  }
  